<h1>Rules & Specification page</h1>

<p>Welcome to the rules and specifications page. Here you will find all the information you need to create your warrior and make it fight against other warriors.</p>

<h3>1 - Homepage</h3>

<p>The homepage is the first page you will see when you access the application. On this page, you will be able to access the important links.</p>

<p>On the bottom, you will see the last fights that have been done. Some warriors and fights are already simulated for instant fun.</p>

<h3>2 - Create warrior</h3>

<p>On the create warrior page, you will be able to create your own warrior. You will need to provide a name and choose how you will share 10 points between attack and defense.</p>
<p>Everyone starts with the same life.</p>

<h3>3 - Fight</h3>

It is now time to FIGHT !

<p>On the fight page, you will be able to select two warriors to fight against each other.</p>
<p>You can choose to use or not a weapon. The fight will be simulated and the winner will be displayed.</p>
<p>Each event of the fight is saved and printed on the screen, so you can live this moment as you were the fighter !</p>

<h3>4 - Weapons</h3>

<p>Some weapon are available to help you win the fight. You can choose to use a weapon or not. They add more damage to your own strenght.</p>

<%= render partial: "/shared/home_link"%>